%ul.breadcrumb
  %li
    = link_to 'BigFoos', root_path
    %span.divider
  %li.active= t('rankings')

%h1= t('rankings')


.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th
        %th
        %th Name
        %th Score
        %th W/L
        %th W/L Ratio
        %th Pts For/Against Ratio
        %th Avg Points/Game
        %th Avg Points Against
    %tbody
      - @users.each_with_index do |user,idx|
        %tr
          %td{style: 'font-weight: bold'}= '#'+(idx+1).to_s
          %td
            %img{src: user.gravatar_url(size: 30), alt: ''}
          %td= link_to user.name, user_path(user)
          %td= user.score.to_s
          %td= user.stat(:wins).to_s+' / '+user.stat(:losses).to_s
          %td= (user.ratio('win-loss',true)*100).to_s+'%'
          %td= (user.ratio('pf-pa',true)*100).to_s+'%'
          %td= user[:ppg].round(2).to_s
          %td= user[:ppg_against].round(2).to_s

= paginate @users