%ul.breadcrumb
  %li
    = link_to 'BigFoos', root_path
    %span.divider
  %li.active= t('rankings')

%h1= t('rankings')


.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th
        %th
        %th Name
        %th Score
        %th W/L
        %th W/L Ratio
        %th Pts For/Against Ratio
        %th Avg Points/Game
        %th Avg Points Against
    %tbody
      - users.each_with_index do |user,idx|
        %tr
          %td{style: 'font-weight: bold'}= '#'+(idx+1).to_s
          %td= user.gravatar
          %td= user.show_link
          %td= user.score.to_s
          %td= user.win_loss
          %td= user.win_loss_ratio
          %td= user.pfpa_ratio
          %td= user.ppg
          %td= user.ppg_against

= paginate @users
