= bootstrap_form_for(@game) do |f|

  = f.hidden_field :num_players, :value => 4, :max => 4, :min => 2

  - if @game.new_record?
    = render 'players_new', {f: f}
  - else
    = render 'players_update', {f: f}

  = f.submit 'Save'