%tr
  %td= l game.created_at, format: :long
  %td
    - game.teams.each_with_index do |team,i|
      %p{class: (i == 0 ? 'pull-right' : '')}
        %span{class: team.color.downcase}= team.color+': '
        - len = team.users.count-1
        - team.users.each_with_index do |u,idx|
          = (link_to u.name, u)+(idx >= len ? '' : ',')
  %td
    = link_to game, class: 'btn btn-default' do
      %i.icon.icon-chevron-right
      %span.visible-widest= t('show')
    = link_to edit_game_path(game), class: 'btn btn-info' do
      %i.icon.icon-white.icon-pencil
      %span.visible-widest= t('edit')