.row

  = f.fields_for :teams do |t,idx|
    %div{class: 'well col-xs-5 team-'+t.object.color.downcase, style: 'margin: 10px'}
      = t.hidden_field :color
      = t.hidden_field :score

      %h4{class: t.object.color.downcase}= t.object.color.capitalize+' Team'
      .form-group
        = t.fields_for :players do |p,pidx|
          - position = cycle('front','back')
          = p.hidden_field :position_id, value: position
          = p.select(:user_id,options_from_collection_for_select(@users,:id,:name),{:prompt => '--- Select a Person ---'},label: position.capitalize)
          %br
