%hr

= f.fields_for :teams do |t|
  = t.hidden_field :id
  %h3= t.object.color

  = t.text_field :color
  = t.number_field :score, max: 10, min: 0

  %h4 Players

  = t.fields_for :players do |p|
    .col-xs-5
      = p.hidden_field :id
      = p.collection_select(:user_id,User.order(name: :asc).all,:id,:name)
      = p.select(:position,[["Front",'front'],['Back','back'],['','']])
      = p.text_field :points

  .clearfix

  %hr
