%hr
- idx = 0
= f.fields_for :teams do |t|
  = t.hidden_field :id
  %h3= t.object.color

  = t.text_field :color
  = t.number_field :score, max: 10, min: 0

  %h4 Players

  = t.fields_for :players do |p|
    = p.hidden_field :id
    .col-xs-5
      = p.collection_select(:user_id,User.all,:id,:name, {})
    .col-xs-5
      = p.text_field :points

  .clearfix

  %hr