.row

  = f.fields_for :teams do |t,idx|
    %div{class: 'well col-xs-5 team-'+cycle('yellow','black'), style: 'margin: 10px'}
      = t.hidden_field :color
      = t.hidden_field :score

      %h4= t.object.color.capitalize+' Team'
      .form-group
        = t.fields_for :players do |p,pidx|
          = p.select(:position,[["Front",'front'],['Back','back']],{selected: cycle('front','back')})
          = p.select(:user_id,options_from_collection_for_select(@users,:id,:name),{:prompt => '--- Select a Person ---'},label: 'Person')
          %br
