%ul.breadcrumb
  %li
    = link_to 'BigFoos', root_path
    %span.divider
  %li
    = link_to t('games.title'), games_path
    %span.divider
  %li.active= t('.details')

.pull-right
  = link_to edit_game_path(@game), class: 'btn btn-primary' do
    %i.icon.icon-pencil= t('edit')
  = link_to game_path(@game), class: 'btn btn-danger', method: :delete, data: { confirm: t('.delete_confirm') } do
    %i.icon.icon-white.icon-trash= t('delete')
  = link_to t('back'), games_path, class: 'btn btn-default'


.game
  .meta
    %h2= t('.details')
    %span= l @game.created_at, format: :long

  .row
    - @game.teams.each do |team|
      .col-xs-12
        %h4{class: team.color.downcase}
          = team.color
        .row
          .col-xs-8
            - team.players.each do |p|
              %div{:class => 'clearfix player '+(p.top_scorer? ? 'top-scorer' : '')}
                .score-controls
                  = link_to 'Score', game_score_path(@game,{:player_id => p.id }), :class => 'pull-left btn btn-score btn-primary', :remote => true, :method => :post
                  = link_to 'Unscore', game_unscore_path(@game,{:player_id => p.id }), :class => 'pull-left btn btn-unscore btn-default', :remote => true, :method => :post
                .player-meta
                  %span{class: 'position'}= p.position.to_s+' - '
                  = link_to p.user.name, p.user
                  %span.player-score{:id => 'player-score-'+p.id.to_s}= ': '+p.points.to_s
          .col-xs-4
            %h3.scores{:id => 'team-score-'+team.id.to_s}= team.score
          .clearfix
      .clearfix
      %hr
