%ul.breadcrumb
  %li
    = link_to 'BigFoos', root_path
    %span.divider
  %li.active= t('games.title')

%p.pull-right= link_to t('.new'), new_game_path, class: 'btn btn-success'
%p.pull-right= link_to 'New Auto Game', 'games/auto', class: 'btn btn-success'
%h1= t('games.title')

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Played on
        %th Teams
        %th
    %tbody
      = render partial: 'game', collection: @games

= paginate @games