%ul.breadcrumb
  %li
    = link_to 'BigFoos', root_path
    %span.divider
  %li
    = link_to t('games.title'), games_path
    %span.divider
  %li.active= t('.details')

.pull-right
  = link_to edit_game_path(game), class: 'btn btn-primary' do
    %i.icon.icon-pencil= t('edit')
  = link_to game_path(game), class: 'btn btn-danger', method: :delete, data: { confirm: t('.delete_confirm') } do
    %i.icon.icon-white.icon-trash= t('delete')
  = link_to t('back'), games_path, class: 'btn btn-default'

.game
  .meta
    %h2= t('.details')
    %span= l game.created_at, format: :long

  .row
    - game.teams.each do |team|
      .col-xs-5.well.score-box
        %h3.pull-right.scores= team.score
        %h4{class: team.css_class}
          = team.color.to_s
        - team.players.each do |p|
          %div{class: "player #{p.top_scorer_css_class}"}
            %span{class: 'position'}= p.position.to_s+' - '
            = p.link_to_user
            = ': '+p.points.to_s
