%ul.breadcrumb
  %li
    = link_to 'BigFoos', root_path
    %span.divider
  %li.active= t('achievements.title')

%h1= t('achievements.title')


.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Description
        %th Criteria
        %th Winners

    %tbody
      - achievements.each do |ach|
        %tr
          %td= ach.show_link
          %td= ach.description
          %td= ach.criteria
          %td= ach.users.count

= paginate achievements
