%ul.breadcrumb
  %li
    = link_to 'BigFoos', root_path
    %span.divider
  %li
    = link_to t('achievements.title'), achievements_path
    %span.divider
  %li.active= achievement.name

%h3= achievement.name

%ul.achievement-trajectory
  - achievement.trajectory.each do |ach|
    %li{class: ach[:current] ? 'current' : ''}
      - if ach[:current]
        = ach['name']
      - else
        %a= link_to ach['name'], ach['code']

%p.clearfix

%p= achievement.description

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th
        %th Name
        %th= achievement.stat_name
        %th Earned On
    %tbody
      - achievement.users_with_stats.decorate.each do |user|
        %tr
          %td= user.gravatar
          %td{style: 'width: 60%'}= user.show_link
          %td= user.stat(achievement.stat.to_sym)
          %td= l user.stat(achievement.stat.to_sym,false).created_at, format: :short
