%h3= @achievement.name

%p= @achievement.description

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th= @achievement.stat.capitalize
    %tbody
      - @achievement.users.each do |user|
        %tr
          %td= link_to user.name, user_path(user)
          %td= user.stat(@achievement.stat.to_sym)