%ul.breadcrumb
  %li
    = link_to 'BigFoos', root_path
    %span.divider
  %li.active= t('stats.title')

%h1= t('stats.title')


.row
  .col-xs-5
    %h3
      Best W/L Ratio
    %ol
      - @best_wl_ratio.each do |user|
        %li.rank
          = link_to user.name, user_path(user)
          = ' - '+(user[:wl_ratio] * 100).round(2).to_s+'%'

  .col-xs-5
    %h3
      Highest Scorers
    %ol
      - @top_scorers.each do |user|
        %li.rank
          = link_to user.name, user_path(user)
          = ' - '+user[:points].to_s


.row
  .col-xs-5
    %h3
      Top Winners
    %ol
      - @top_winners.each do |user|
        %li.rank
          = link_to user.name, user_path(user)
          = ' - '+user[:wins].to_s

  .col-xs-5
    %h3
      Top Losers
    %ol
      - @top_losers.each do |user|
        %li.rank
          = link_to user.name, user_path(user)
          = ' - '+user[:losses].to_s
.row

  .col-xs-5
    %h3
      Top Points Per Game
    %ol
      - @top_ppg.each do |user|
        %li.rank
          = link_to user.name, user_path(user)
          = ' - '+user[:points].round(2).to_s

  .col-xs-5
    %h3
      Most Games Played
    %ol
      - @most_games.each do |user|
        %li.rank
          = link_to user.name, user_path(user)
          = ' - '+user[:games].to_s

%hr
%h2 Statistics
.row
  %table.table.table-striped
    %tbody
      - @stats.each do |stat|
        %tr
          %td= link_to stat.titleize, stat_path(stat)
          %td= t('stat.'+stat+'_desc')