!!!
:plain
  <!-- Adapted from paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
  <!--[if lte IE 7]><html class="no-js ie7 lte8 lte9" lang="en"><![endif]--><!-- IE 7 and below  -->
  <!--[if IE 8]><html class="no-js ie8 lte8 lte9" lang="en"><![endif]--><!-- IE 8 and below  -->
  <!--[if IE 9]><html class="no-js ie9 lte9" lang="en"><![endif]--><!-- IE 9 and below  -->
  <!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->

%head
  %meta{charset: 'utf-8'}
  %meta{'http-equiv' => 'Content-Type', content: 'text/html; charset=utf-8'}
  %meta{'name' => 'viewport', content: 'width=device-width, initial-scale=1.0'}

  %title BigFoos
  = stylesheet_link_tag    'application', media: 'all'
  = stylesheet_link_tag 'controllers/'+params[:controller]
  = javascript_include_tag 'application'
  = csrf_meta_tags
%body
  = render 'shared/header'

  .container
    .row
      .col-md-12
        = render 'shared/flash'
        = yield

  = render 'shared/footer'
